body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', sans-serif;
  font-size: 90px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: 500;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  text-decoration: none;
  color: #11999E;
}

hr {
  width: 5%;
  border-style: dotted none none none;
  border-color: #C4C4C2;
  border-width: 10px;
  margin: 6.5rem auto;
}

.programmer {
  font-weight: normal;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.skill-row {
  width: 50%;
  margin: 8.75rem auto;
  text-align: left;
  line-height: 2;
  overflow: hidden;
}

.webdesign {
  width: 25%;
  max-width: 200px;
  float: left;
  margin-right: 30px;
}

.profile img {
  width: 60%;
  margin-top: 5rem;
}

.profile p {
  color: #40514E;
}

.profile {
  margin: 4rem auto 6rem auto;
  width: 30%;
}

.printing {
  width: 25%;
  max-width: 200px;
  float: right;
  margin-left: 30px
}

.bottom-container {
  background-color:  #66BFBF;
  position: relative;
  bottom: 0;
  padding: 40px 0;
}

.bottom-container p {
  color: #EAF6F6;
  font-size: 0.85rem;
}

.bottom-container span {
  font-size: 0.3rem;
  padding: 2rem;
}

.footer-link {
  color: #11999E;
  margin-right: 0.9rem;
  margin-left: 0.9rem;
  font-size: 1.5rem;
}

.top-cloud {
  position: absolute;
  right: 25.75rem;
  top: 3.125rem;
}

.bottom-cloud {
  position: absolute;
  left: 25.75rem;
  bottom: 18.75rem;
}

.contact-me {
  line-height: 3;
  margin-bottom: 6rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.BUTTON_OVI {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 7px;
   line-height: 7px;
   color: #FFFFFF;
   font-family: Open Sans;
   width: 225px;
   font-size: 32px;
   font-weight: 400;
   padding: 26px;
   background-color: #66BFBF;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   border: solid #337FED 4px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_OVI:hover {
   border: solid #99C624 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #66bfbf;
	background-color:#66bfbf;
	border-radius:10px;
	border:1px solid #66bfbf;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 28px;
	text-decoration:none;
  margin-bottom: 6.5rem;
}
.myButton:hover {
	background-color:#66bfbf;
}
.myButton:active {
	position:relative;
	top:1px;
}
